<h1>Listing tickets</h1>

<table>
  <tr>
    <th>User</th>
    <th>Creator</th>
    <th>Type</th>
    <th>Days</th>
    <th>In use</th>
    <th>Is valid</th>
    <th>Used on</th>
    <th>Expire date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.user_id %></td>
    <td><%= ticket.creator_id %></td>
    <td><%= ticket.type %></td>
    <td><%= ticket.day_count %></td>
    <td><%= ticket.in_use %></td>
    <td><%= ticket.is_valid %></td>
    <td><%= ticket.used_on %></td>
    <td><%= ticket.expire_date %></td>
    <td><%= link_to 'Show', tickets_path %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%#= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
