<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Creator:</b>
  <%= @ticket.creator_id %>
</p>

<p>
  <b>In use:</b>
  <%= @ticket.in_use %>
</p>

<p>
  <b>Is valid:</b>
  <%= @ticket.is_valid %>
</p>

<p>
  <b>Used on:</b>
  <%= @ticket.used_on %>
</p>

<p>
  <b>Expire date:</b>
  <%= @ticket.expire_date %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
