<h1>Listing ticket_logs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Ticket</th>
    <th>Ip</th>
    <th>Mac</th>
    <th>Device name</th>
    <th>Usage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_logs.each do |ticket_log| %>
  <tr>
    <td><%= ticket_log.user_id %></td>
    <td><%= ticket_log.ticket_id %></td>
    <td><%= ticket_log.ip %></td>
    <td><%= ticket_log.mac %></td>
    <td><%= ticket_log.device_name %></td>
    <td><%= ticket_log.usage %></td>
    <td><%= link_to 'Show', ticket_log %></td>
    <td><%= link_to 'Edit', edit_ticket_log_path(ticket_log) %></td>
    <td><%= link_to 'Destroy', ticket_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket log', new_ticket_log_path %>
